/* th, td, p, input, h3 {
  font:15px 'Segoe UI';
  border: solid 1px;
  border-width: 1;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
 td {
  border: solid 1px;
  border-width: 1;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
}
th {  border: solid 1px;
  border-width: 1;
  border-collapse: collapse;
  padding: 2px 3px;
  text-align: center;
  font-weight:bold;
} */

td {
  border: solid 1px;
  border-width: 1;
  text-align: center;
}