<form [formGroup]="form" (ngSubmit)="uploadIllustration()">

  <div align="center">
    <mat-form-field appearance="fill">
      <mat-label>Format</mat-label>
      <mat-select formControlName="SelectedFormat">
        <mat-option *ngFor="let selected  of selectedFileFormats" [value]="selected">
          {{selected}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div *ngIf='form.value.SelectedFormat==="CSV"'>
    <div align="center">
      <mat-form-field appearance="fill">
        <mat-label>Illustration Name</mat-label>
        <input matInput formControlName="IllustrationName" id="illustrationName" type="text" required />
      </mat-form-field>
    </div>
    <div align="center">
      <mat-form-field appearance="fill">
        <mat-label>Illustration Type</mat-label>
        <mat-select formControlName="IllustrationType" id="IllustrationType" required multiple>
          <mat-option *ngFor="let type of allIllustrationTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>

        </mat-select>
      </mat-form-field>
    </div>

    <div align="center">
      <mat-form-field appearance="fill">
        <mat-label>Separator</mat-label>
        <mat-select formControlName="Separator">
          <mat-option *ngFor="let selectedSep  of selectedSeparators" [value]="selectedSep">
            {{selectedSep}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div align="center">
      <mat-form-field appearance="fill">
        <mat-label>Illustration Description</mat-label>
        <input matInput formControlName="IllustrationDescription" id="illustrationDescription" type="text" />
      </mat-form-field>
    </div>
    <div align="center">
      <mat-form-field class="example-chip-list" appearance="fill">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tags Selection">
          <mat-chip *ngFor="let tag of tags" (removed)="remove(tag)">
            {{tag}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input type="text" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
  </div>
  <div class="centerDrop">
    <div class="form-group">
      <ngx-dropzone name="file" id="file" (change)="onSelect($event)">
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
  </div>

  <div align="center">
    <div class="centerButton">
      <button mat-dialog-close mat-raised-button class="btn btn-primary" type="submit" [disabled]="!form.valid">
        Submit
      </button>
      <!--        <button class ="btn btn-danger" (click)="clearForm()">Reset</button>-->
    </div>
  </div>
</form>