<mat-tab-group animationDuration="0ms" class="graph-tab" [selectedIndex]="selectedIndex" (selectedIndexChange)="selectTab($event)">
  <mat-tab [label]="ill.Type" *ngFor="let ill of currentIllustrations">
    <ng-template matTabContent>
      <div [ngSwitch]="ill.Type">
        <app-d3-force-layout-graph
          *ngSwitchCase="'force-directed-graph'"
          [data]="ill.Data"
        ></app-d3-force-layout-graph>
        <app-hiearchical-edge-bundling
          *ngSwitchCase="'hierarchical-edge-bundling'"
          [data]="ill.Data"
        ></app-hiearchical-edge-bundling>
        <app-sanky-diagram
          *ngSwitchCase="'sankey'"
          [data]="ill.Data"
        ></app-sanky-diagram>
        <app-charts *ngSwitchCase="'chart'" [data]="ill.Data"></app-charts>
        <app-matrix *ngSwitchCase="'matrix'" [data]="ill.Data"></app-matrix>
        <app-calendarheatmap
          *ngSwitchCase="'calendar'"
          [data]="ill.Data"
        ></app-calendarheatmap>
        <ng-container *ngSwitchCase="'graphviz'">
          <app-dot-graph
            [content]="ill.Data"
          ></app-dot-graph>
        </ng-container>
        <app-timeline
          *ngSwitchCase="'timeline'"
          [data]="ill.Data"
        ></app-timeline>
        <app-ploty
          *ngSwitchCase="'ploty'"
          [data]="ill.Data.data"
          [layout]="ill.Data.layout"
          [config]="ill.Data.config"
        ></app-ploty>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
