<div class="row mx-2 my-4">
  <p-table id="treemapPropertiesInfo" [columns]="cols" [value]="filesDisplayed" [resizableColumns]="true"
           [scrollable]="true"
           [rows]="40"
           scrollHeight="1000px" [paginator]="true" [rowsPerPageOptions]="[20,40,50,100,500]">
    <ng-template pTemplate="colgroup" let-columns>
      <colgroup>
        <col *ngFor="let col of columns">
      </colgroup>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex">
      <tr>
        <td *ngFor="let col of columns" (click)="openOverlayPanel($event, rowData.path, op)"
            [pTooltip]="getTooltip(rowData.path)" [tooltipPosition]="'top'"
            [tooltipDisabled]="col.header === 'Property Value'"
            [tooltipStyleClass]="'tooltip-style'" [escape]="false">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-overlayPanel #op [appendTo]="'body'" [styleClass]="'codeOverlayPanel'">
  <span *ngIf="!code">No source file to show</span>
  <ngx-monaco-editor class="monaco-code-editor {{code ? '' : 'hide-editor'}}" id="treemapInfoEditor"
                     [options]="editorOptions"
                     [(ngModel)]="code" (onInit)="onEditorInit($event)"></ngx-monaco-editor>
</p-overlayPanel>
