.timeline-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;

  .timeline-day-container {
    display: flex;
    flex: 1;
    overflow: hidden;
    min-width: 0;

    .timeline-day {
      width: 100px;
      display: inline-flex;
      position: relative;
      justify-content: center;

      .time-line {
        width: 1px;
        background-color: #c0c0c0;
        height: 100%;
      }

      .timeline-icon {
        position: absolute;
        background-color: transparent;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;

        .icon {
          margin-top: 3px;
          width: 20px;
          height: 20px;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 1px solid #c0c0c0;
          border-radius: 50%;
          background-color: white;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }
    }
    .timeline-events {
      padding: 0 0 10px 0;
      flex: 1;
      flex-direction: column;

      .events-day-summary {
        padding: 3px 0 5px 0;
        color: #a0a0a0;
      }

      .timeline-event {
        padding: 5px 15px;
        border: 1px solid #c0c0c0;
        border-bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .timeline-event-details {
          display: inline-flex;
          align-items: flex-start;
          justify-content: center;
          flex-direction: column;
          flex: 1;

          span.timeline-event-date {
            color: #a0a0a0;
          }

          .highlight {
            font-size: 14px;
            font-weight: 500;
          }
        }
        .timeline-event-actions {
          width: 30%;
          display: inline-flex;
          flex-direction: row;
          justify-content: flex-end;
        }


        &:first-child {
          border-radius: 10px 10px 0 0;
        }
        &:last-child {
          border-bottom: 1px solid #c0c0c0;
          border-radius: 0 0 10px 10px;
        }
      }
    }
  }
}
