<div class="arrange">
  <h2 align="center">Add an Illustry project</h2>
  <div class="mx-5">
    <form
      id="addProjectForm"
      class="d-flex flex-column"
      [formGroup]="form"
      (ngSubmit)="uploadProject()"
      align="center"
    >
      <div align="center">
        <mat-form-field appearance="fill">
          <mat-label>Project Name</mat-label>
          <input
            matInput
            formControlName="ProjectName"
            id="projectName"
            type="text"
            required
          />
        </mat-form-field>
      </div>
      <div align="center">
        <mat-form-field appearance="fill">
          <mat-label>Project Description</mat-label>
          <textarea
            matInput
            formControlName="ProjectDescription"
            id="projectDescription"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>
      <div align="center">
        <mat-form-field appearance="fill">
          <mat-label>Illustration Name</mat-label>
          <input
            matInput
            formControlName="IllustrationName"
            id="illustrationName"
            type="text"
            required
          />
        </mat-form-field>
      </div>
      <div align="center">
        <mat-form-field appearance="fill">
          <mat-label>Illustration Type</mat-label>
          <mat-select
            formControlName="IllustrationType"
            id="IllustrationType"
            required
          >
            <mat-option value="verticalcharts">Vertical Charts</mat-option>
            <mat-option value="verticalstackedcharts">Vertical StackedCharts</mat-option>
            <mat-option value="horizontalcharts">Horizontal Charts</mat-option>
            <mat-option value="horizontalstackedcharts">Horizontal StackedCharts</mat-option>
            <mat-option value="flg">Force Layout Graphs</mat-option>
            <mat-option value="heb">Hierarchical Edge Bundling</mat-option>
            <mat-option value="treemap">TreeMap</mat-option>
            <mat-option value="sankeydiagram">Sankey Diagram</mat-option>
            <mat-option value="matrix">Matrix</mat-option>
            <mat-option value="ganttchart">Gantt Chart</mat-option>
            <mat-option value="calendarmatrix"> Calendar Matrix</mat-option>
            <mat-option value="graphiz">Graphiz</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div align="center">
        <mat-form-field appearance="fill">
          <mat-label>Tags</mat-label>
          <textarea
            matInput
            formControlName="Tags"
            id="tags"
            type="text"
          ></textarea>
        </mat-form-field>
      </div>
      <div class="centerDrop">
        <div class="form-group">
          <ngx-dropzone
            name="file"
            id="file"
            [multiple]="false"
            (change)="onSelect($event)"
          >
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-preview
              *ngFor="let f of files"
              [removable]="true"
              (removed)="onRemove(f)"
            >
              <ngx-dropzone-label
                >{{ f.name }} ({{ f.type }})</ngx-dropzone-label
              >
            </ngx-dropzone-preview>
          </ngx-dropzone>
        </div>
      </div>

      <div class="centerButton">
        <button class="btn btn-primary" type="submit" [disabled]="!form.valid">
          Submit
        </button>
        <!--        <button class ="btn btn-danger" (click)="clearForm()">Reset</button>-->
      </div>
    </form>
  </div>
</div>
