<!--Modal trigger-->
<button type="button" class="btn btn-outline-secondary mx-2 mt-1" data-toggle="modal"
        [attr.data-target]="'#' + property.name">{{property.name.substring(0,1).toUpperCase() +
  property.name.substring(1)}} filter
</button>

<!-- Modal -->
<div class="modal fade" [id]="property.name" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{property.name.substring(0,1).toUpperCase() + property.name.substring(1)}}</h5>
      </div>
      <div class="modal-body">
        <dx-chart-slider-threshold *ngIf="property != null"
                                   [alwaysMultiple]="false"
                                   [collapsibleChart]="false"
                                   [showFileLegend]="false"
                                   [isPartOfFilter]="true"
                                   [property]="property"
                                   (sliderValueChanged)="sliderValueChanged($event)">
        </dx-chart-slider-threshold>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-raised" data-dismiss="modal"
                (click)="saveThresholds()">Save selection
        </button>
      </div>
    </div>
  </div>
</div>
