.table {
  width: 100%;
}

.center {
  width: 400%;
  margin-left: 175%;

}

.clickable {
  cursor: pointer;
  word-wrap: break-word;
}

.td {
  word-wrap: break-word;
  max-width: 150px;
}

.th {
  word-wrap: break-word;
  max-width: 150px;
}

.form-control {
  width: 30%;
}

.container {
  margin-top: 5%;

}
