table {
    width: 100%;
}

.clickable {
    cursor: pointer;
    word-wrap: break-word;
}

th.mat-sort-header-sorted {
    color: black;
}

.custom-button {
    position: absolute;
    right: 85%;
    top: 90px;
    cursor: pointer;
    word-wrap: break-word;
}
