<div class="container project-list">
  <div class="row">
    <div class="col-md-12 mx-auto project-list-form-container">
      <div class="md-form project-list-form">
        <input
          type="text"
          [(ngModel)]="searchText"
          class="form-control"
          id="search"
          mdbInput
          placeholder="Search"
        />
        <div class="button plus">
          <mat-icon class="clickable" (click)="onPress()"
            >add_circle_outline</mat-icon
          >
        </div>
      </div>
    </div>

    <!-- <input type="text" class="form-control" id="advanced-search-input" placeholder="phrase in:field1,field2">
    <button class="btn btn-primary" id="advanced-search-button" type="button">

    </button>
  </div> -->
    <div class="project-list-container">
      <ng-container *ngFor="let el of projects; let i = index">
        <div class="project-list-item"
             (click)="showIllustrations(el.ProjectName)">
          <div class="project-data">
            <div class="project-title">
              {{el.ProjectName}}
            </div>
            <div class="project-description">
              {{el.ProjectDescription}}
            </div>
          </div>
          <div class="project-actions">
            <mat-icon
              class="clickable"
              (click)="openDialogForDeletingProjects(el.ProjectName)"
            >delete</mat-icon
            >
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
