/*.grid {*/
/*  display: grid;*/
/*  width: 80em;*/
/*  grid-gap: 6rem;*/
/*  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));*/
/*  align-items: start;*/
/*}*/

.table {
  width: 100%;
}

.center {
  width: 400%;
  margin-left: 175%;

}

.clickable {
  cursor: pointer;
  word-wrap: break-word;
}
.td {
  word-wrap: break-word;
  max-width: 150px;
}
.th {
  word-wrap: break-word;
  max-width: 150px;
}

.form-control {
  width: 30%;
}

.container {
  margin-top: 5%;

}

/*.clickableDescription {*/
/*  cursor:pointer;*/
/*  max-width: 100px;*/
/*}*/
