<form [formGroup]="form" (ngSubmit)="updateIllustration()">
  <div align="center">
    <mat-form-field appearance="fill">
      <mat-label>Illustration Name</mat-label>
      <input
        matInput
        formControlName="IllustrationName"
        id="illustrationName"
        type="text"
        required
      />
    </mat-form-field>
  </div>
  <div align="center">
    <mat-form-field appearance="fill">
      <mat-label>Illustration Type</mat-label>
      <mat-select
        formControlName="IllustrationType"
        id="IllustrationType"
        required
      >
        <mat-option value="charts">Vertical Charts</mat-option>
        <mat-option value="stackedcharts">Stacked Charts</mat-option>
        <mat-option value="horizontal charts">Stacked Charts</mat-option>
        <mat-option value="flg">Force Layout Graphs</mat-option>
        <mat-option value="heb">Hierarchical Edge Bundling</mat-option>
        <mat-option value="treemap">TreeMap</mat-option>
        <mat-option value="sankeydiagram">Sankey Diagram</mat-option>
        <mat-option value="matrix">Matrix</mat-option>
        <mat-option value="ganttchart">Gantt Chart</mat-option>
        <mat-option value="calendarmatrix"> Calendar Matrix</mat-option>
        <mat-option value="graphiz">Graphiz</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div align="center">
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <input matInput formControlName="Tags" id="Tags" type="text" required />
    </mat-form-field>
  </div>
  <div class="centerDrop">
    <div class="form-group">
      <ngx-dropzone
        name="file"
        id="file"
        [multiple]="false"
        (change)="onSelect($event)"
      >
        <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
        <ngx-dropzone-preview
          *ngFor="let f of files"
          [removable]="true"
          (removed)="onRemove(f)"
        >
          <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
        </ngx-dropzone-preview>
      </ngx-dropzone>
    </div>
  </div>

  <div align="center">
    <div class="centerButton">
      <button
        mat-dialog-close
        mat-raised-butto
        class="btn btn-primary"
        type="submit"
        [disabled]="!form.valid"
      >
        Submit
      </button>
      <!--        <button class ="btn btn-danger" (click)="clearForm()">Reset</button>-->
    </div>
  </div>
</form>
