<div [ngSwitch]="illustration.Type">
    <app-d3-force-layout-graph *ngSwitchCase="'force-directed-graph'" [data]="illustration.data"></app-d3-force-layout-graph>
    <app-hiearchical-edge-bundling *ngSwitchCase="'hierarchical-edge-bundling'" [data]="illustration.data"></app-hiearchical-edge-bundling>
    <app-sanky-diagram *ngSwitchCase="'sankey'" [data]="illustration.data"></app-sanky-diagram>
    <app-charts *ngSwitchCase="'chart'" [data]="illustration.data"> </app-charts>
    <app-matrix *ngSwitchCase="'matrix'" [data]="illustration.data"></app-matrix>
    <app-calendarheatmap *ngSwitchCase="'calendar'" [data]="illustration.data"></app-calendarheatmap>
    <app-dot-graph *ngSwitchCase="'graphviz'" [content]="illustration.data"></app-dot-graph>
    <app-timeline *ngSwitchCase="'timeline'" [data]="illustration.data"></app-timeline>
    <app-ploty *ngSwitchCase="'ploty'" [data]="illustration.data.data" [layout]="illustration.data.layout" [config]="illustration.data.config"></app-ploty>
</div>