<p-multiSelect id="propertiesMultiselect"
               [options]="properties"
               [(ngModel)]="selectedProperties"
               (onChange)="selectProperty($event)"
               [optionLabel]="'name'"
               [panelStyle]="{minWidth:'5rem'}"
               [defaultLabel]="'Other properties'"
               [displaySelectedLabel]="false"
               class="mx-2">
  <ng-template let-prop let-i="index" pTemplate="item">
    {{prop.label}}
    <span class="float-right"
          *ngIf="propertyThresholdsMap.get(prop.label) && propertyThresholdsMap.get(prop.label).isBelowValue == null">[ {{propertyThresholdsMap.get(prop.label).value}} ]</span>
    <span class="float-right"
          *ngIf="propertyThresholdsMap.get(prop.label) && propertyThresholdsMap.get(prop.label).isBelowValue"> < {{propertyThresholdsMap.get(prop.label).value}}</span>
    <span class="float-right"
          *ngIf="propertyThresholdsMap.get(prop.label) && propertyThresholdsMap.get(prop.label).isBelowValue == false"> > {{propertyThresholdsMap.get(prop.label).value}}</span>
  </ng-template>
</p-multiSelect>

<!-- Modal -->
<div class="modal fade" #thresholdModal id="thresholdModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
      </div>
      <div class="modal-body">
        <dx-chart-slider-threshold *ngIf="modalProperty != null"
                                   [alwaysMultiple]="false"
                                   [collapsibleChart]="false"
                                   [showFileLegend]="false"
                                   [isPartOfFilter]="true"
                                   [property]="modalProperty"
                                   (sliderValueChanged)="sliderValueChanged($event)">
        </dx-chart-slider-threshold>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success btn-raised" data-dismiss="modal"
                (click)="savePropertyWithoutThresholds()">Any values
        </button>
        <button type="button" class="btn btn-success btn-raised" data-dismiss="modal" (click)="saveThresholds()">Save
          selection
        </button>
      </div>
    </div>
  </div>
</div>


<!--<div class="dropdown">
  <button class="btn btn-outline-secondary mx-2 btn-lg dropdown-toggle" type="button" id="dropdownMenuButton"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Other properties
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <ul class="list-group list-group-flush">
      <li class="list-group-item" *ngFor="let property of properties">
        <div class="form-check dropdown-item">
         <input type="checkbox" class="form-check-input custom-checkbox" id="{{property.name}}"
          (change)="selectProperty($event, property)">
          <label class="form-check-label" for="{{property.name}}">{{property.name}}</label>
        </div>
      </li>
    </ul>
  </div>
</div>-->


<!--<div class="custom-control custom-checkbox">
        <input class="custom-control-input" type="checkbox" id="{{property.name}}"
               (change)="selectProperty($event, property)">
        <label class="custom-control-label ml-1" for="{{property.name}}">{{property.name.replace('_', ' ')}}</label>
      </div>-->
